.nav {
  background-color: yellow; }

.pie {
  background-image: linear-gradient(to bottom, red, yellow); }

.btn-primary a {
  color: white; }

td {
  align: center; }

table {
  margin-left: 25%; }

.textos, .textos--color, h1, h2 {
  text-align: center; }

.textos--color {
  color: white; }

.separar {
  margin-right: 10px;
  margin-left: 15px; }

.margenM {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px; }

section {
  margin-left: 35%; }

body {
  background-color: #EDFE90; }

.margenesFotos {
  margin-top: 20px;
  margin-bottom: 20px; }

.centrar {
  margin-left: 45%; }
