
$azul:blue;
$amarillo:yellow;
$rojo:red;
$blanco:white;


.nav {
	background-color: $amarillo;
}

.pie {
	background-image: linear-gradient(to bottom, $rojo , $amarillo);
}

.btn-primary a {
	color: white;
}

td {
	align: center;
}

table {
	margin-left: 25%;
}

.textos, h1, h2{
	text-align: center;
}

.textos--color {
	@extend .textos;
	color:$blanco;
}

@mixin sizes($left, $right){
	margin-right:$right;
	margin-left:$left;
}
.separar{
	@include sizes(15px, 10px);
}

.margenM {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

section{
	margin-left: 35%;
} 

body {
  {
    background-color: #EDFE90;
  }
}
.margenesFotos {
	margin-top: 20px;
	margin-bottom: 20px;
}
.centrar {
	margin-left: 45%;
}
